In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('seaborn-v0_8-darkgrid')
plt.rcParams['font.family'] = 'Times New Roman'

df = pd.read_excel("./data/participant/participant_background.xlsx")

In [131]:
df['sex'] = df['sex'].replace('男' ,'M')
df['sex'] = df['sex'].replace('女' ,'F')

In [133]:
df['level'] = df['level'].replace('本科生' ,'Bachelor')
df['level'] = df['level'].replace('硕士生' ,'Master')
df['level'] = df['level'].replace('博士生' ,'Doctor')

In [58]:
df['experience'] = df['experience'].replace('是' ,'Y')
df['experience'] = df['experience'].replace('否' ,'N')

In [135]:
df.to_csv("./data//participant/participant_demographic.csv")

exp_id [4], [11], [40], [44] have some information that I had to infer because it was too long ago

In [36]:
df = pd.read_csv("./data/participant/participant_demographic.csv")

In [148]:
df['level'].value_counts()

Doctor      30
Master      19
Bachelor    15
Name: level, dtype: int64

In [150]:
df['sex'].value_counts()

M    32
F    32
Name: sex, dtype: int64

In [152]:
df['age'].value_counts()

24    14
25     9
20     6
26     6
22     6
28     4
27     4
19     4
23     3
18     2
33     2
21     1
31     1
29     1
35     1
Name: age, dtype: int64

In [166]:
df['age'].mean(), df['age'].std()

(24.25, 3.541141417633944)

In [170]:
df['length'].mean(), df['length'].std()

(0.39859374999999997, 1.4769658593893038)

In [180]:
df['experience'].value_counts()

否    53
是    11
Name: experience, dtype: int64

In [183]:
53 / 64

0.828125

In [187]:
df['length'].value_counts()

0.00     53
3.00      2
1.00      2
0.10      1
10.00     1
1.50      1
5.00      1
0.50      1
0.25      1
0.16      1
Name: length, dtype: int64

In [16]:
length_list = df['length'].tolist()

In [27]:
first_count, second_count, third_count, fourth_count = 0, 0, 0, 0

for i in range(len(length_list)):
    if length_list[i] > 0.0 and length_list[i] <= 1.0:
        second_count += 1
    elif length_list[i] > 1.0 and length_list[i] <= 3.0:
        third_count += 1 
    elif length_list[i] >= 3.0:
        fourth_count += 1
    else:
        first_count += 1

print(first_count, second_count, third_count, fourth_count)

53 6 3 2

In [40]:
I_1, N_1, E_1, B_1 = 0, 0, 0, 0
I_2, N_2, E_2, B_2 = 0, 0, 0, 0
I_3, N_3, E_3, B_3 = 0, 0, 0, 0

for i in range(len(df)):
    age = df['age'][i]
    if i in range(0, 8) or i in range(32, 40):
        if age <= 20:
            I_1 += 1
        elif age >= 27:
            I_3 += 1
        else:
            I_2 += 1
    elif i in range(8, 16) or i in range(40, 48):
        if age <= 20:
            N_1 += 1
        elif age >= 27:
            N_3 += 1
        else:
            N_2 += 1
    elif i in range(16, 24) or i in range(48, 56):
        if age <= 20:
            E_1 += 1
        elif age >= 27:
            E_3 += 1
        else:
            E_2 += 1
    else:
        if age <= 20:
            B_1 += 1
        elif age >= 27:
            B_3 += 1
        else:
            B_2 += 1

print(I_1, N_1, E_1, B_1)
print(I_2, N_2, E_2, B_2)
print(I_3, N_3, E_3, B_3)

4 3 2 3
8 10 9 12
4 3 5 1

In [42]:
I_1, N_1, E_1, B_1 = 0, 0, 0, 0
I_2, N_2, E_2, B_2 = 0, 0, 0, 0
I_3, N_3, E_3, B_3 = 0, 0, 0, 0

for i in range(len(df)):
    level = df['level'][i]
    if i in range(0, 8) or i in range(32, 40):
        if level == 'Bachelor':
            I_1 += 1
        elif level == 'Master':
            I_3 += 1
        else:
            I_2 += 1
    elif i in range(8, 16) or i in range(40, 48):
        if level == 'Bachelor':
            N_1 += 1
        elif level == 'Master':
            N_3 += 1
        else:
            N_2 += 1
    elif i in range(16, 24) or i in range(48, 56):
        if level == 'Bachelor':
            E_1 += 1
        elif level == 'Master':
            E_3 += 1
        else:
            E_2 += 1
    else:
        if level == 'Bachelor':
            B_1 += 1
        elif level == 'Master':
            B_3 += 1
        else:
            B_2 += 1

print(I_1, N_1, E_1, B_1)
print(I_2, N_2, E_2, B_2)
print(I_3, N_3, E_3, B_3)

4 4 3 4
6 6 7 11
6 6 6 1

In [49]:
I_1, N_1, E_1, B_1 = 0, 0, 0, 0
I_2, N_2, E_2, B_2 = 0, 0, 0, 0
I_3, N_3, E_3, B_3 = 0, 0, 0, 0
I_4, N_4, E_4, B_4 = 0, 0, 0, 0

for i in range(len(df)):
    exp = df['length'][i]
    if i in range(0, 8) or i in range(32, 40):
        if exp == 0:
            I_1 += 1
        elif exp >= 5:
            I_4 += 1
        elif exp > 0 and exp <= 1:
            I_2 += 1
        else:
            I_3 += 1
    elif i in range(8, 16) or i in range(40, 48):
        if exp == 0:
            N_1 += 1
        elif exp >= 5:
            N_4 += 1
        elif exp > 0 and exp <= 1:
            N_2 += 1
        else:
            N_3 += 1
    elif i in range(16, 24) or i in range(48, 56):
        if exp == 0:
            E_1 += 1
        elif exp >= 5:
            E_4 += 1
        elif exp > 0 and exp <= 1:
            E_2 += 1
        else:
            E_3 += 1
    else:
        if exp == 0:
            B_1 += 1
        elif exp >= 5:
            B_4 += 1
        elif exp > 0 and exp <= 1:
            B_2 += 1
        else:
            B_3 += 1

print(I_1, N_1, E_1, B_1)
print(I_2, N_2, E_2, B_2)
print(I_3, N_3, E_3, B_3)
print(I_4, N_4, E_4, B_4)

14 11 13 15
2 0 3 1
0 3 0 0
0 2 0 0